/* You can add global styles to this file, and also import other style files */
:root {
  --purple: #6f2877;
  --pink: #c288c0;
  --sky-blue: #c5e9f2;
  --blue: #6ec9df;
  --black: #454545;
  --dark-gray:#8a8a8a;
  --white: #fdfdfd;
  --gray: #f7f3fe;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden;
  }