<div class="register full-screen">
  <div
    class="all row w-75"
    [ngStyle]="{ height: shouldShowErrorMessages() ? '130vh' : '118vh' }"
  >
    <div
      class="col-md-5 col-12 input-part"
      [ngStyle]="{ height: shouldShowErrorMessages() ? '130vh' : '118vh' }"
    >
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label class="d-block" for="email">Email</label>
        <input
          class="d-block mb-4"
          type="email"
          id="email"
          formControlName="email"  
          (blur)="form.get('email')?.markAsTouched()"
          placeholder="Enter your email "
          required
        />
        <div
          class="mt-0"
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          style="color: red"
        >
          <small *ngIf="form.get('email')?.errors?.['required']"
            >Email is required.</small
          >
          <small *ngIf="form.get('email')?.errors?.['pattern']"
            >Invalid email format.</small
          >
        </div>
        <label class="d-block" for="firstName">First Name</label>
        <input
          class="d-block mb-4"
          type="text"
          name="firstName"
          id="firstName"
          placeholder="Enter your first name"
          required
        />
        <label class="d-block" for="lastName">last Name</label>

        <input
          class="d-block mb-4"
          type="text"
          name="lastName"
          id="lastName"
          placeholder="Enter your last name"
          required
        />
        <label class="d-block" for="password">Password </label>

        <input
          class="d-block mb-4"
          type="password"
          formControlName="password" 
          (blur)="form.get('password')?.markAsTouched()"
          id="password"
          placeholder="Enter your password"
          required
        />
        <div
          *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
          style="color: red"
        >
          <small *ngIf="form.get('password')?.errors?.['required']"
            >Password is required.</small
          >
          <small *ngIf="form.get('password')?.errors?.['minlength']"
            >Password must be at least 8 characters.</small
          >
          <small *ngIf="form.get('password')?.errors?.['pattern']"
            >Password must contain at least one number, one uppercase and
            lowercase letter.</small
          >
        </div>

        <p>By registering you agree to the Social Darrebni</p>

        <input
          class="btn input-btn my-4"
          type="submit"
          value="Sign Up"
          aria-label="Sign up "
        />
        <div class="d-flex justify-content-center mt-4">
          <div class="create-div p-1 text-center">
            <span class="create-span">Create account with </span>
          </div>
        </div>
        <div class="btns mt-4 d-flex justify-content-center">
          <a
            class="btn btn-primary mx-2 px-3"
            role="button"
            aria-disabled="true"
            aria-label="Sign in with Facebook"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-danger mx-2"
            role="button"
            aria-disabled="true"
            aria-label="Sign in with google"
            ><i class="fab fa-google"></i
          ></a>
        </div>
      </form>
      <div class="mt-4 text-center">
        <span>Already have an account ?</span
        ><a class="mx-1 fw-bold" routerLink="/signin"> <u>Login</u></a>
      </div>
    </div>
    <div class="col-md-7 col-12 img-part">
      <div class="top-img-part d-flex justify-content-between">
        <img class="logo-img" src="assets/images/logo/4.png" alt="" />
        <div class="help mt-4 me-3 text-center d-flex align-items-center px-2">
          <a href="">help</a>
          <i class="fas fa-question-circle fa-lg mx-2"></i>
        </div>
      </div>
      <div>
        <img
          [ngStyle]="{ height: shouldShowErrorMessages() ? '640px' : '520px' }"
          class="cover-img mt-4"
          src="./assets/images/auth/img-01log.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
